<div class="wrapper mt-lg-5">
  <div class="sidebar-wrapper">
    <div class="profile-container">
      <h1 class="name">LUIS ALFONOS HUILA HERNANDEZ</h1>
      <h3 class="tagline">Desarrollador Fullstack</h3>
    </div>
  </div>

  <div class="main-wrapper">
    <section class="section summary-section">
      <h2 class="section-title">
        <span class="icon-holder"><i class="fa-solid fa-user"></i></span>Perfil
      </h2>
      <div class="summary">
        <p>
          Hola soy Luis Huila, tengo mas de 2 años de experiencia desarrollando
          aplicativos webs, con experiencia con los lenguajes de programación
          JavaScript entre otros. Con habilidades para establecer buenas
          relaciones interpersonales, adaptación, y trabajo en equipo.
        </p>
      </div>
    </section>

    <section class="skills-section section">
      <h2 class="section-title">
        <span class="icon-holder"><i class="fa-solid fa-rocket"></i></span>H A B
        I L I D A D E S
      </h2>
      <div class="skillset">

        <div class="item">
          <h3 class="level-title">Javascript</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 95%"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">Angular</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 95%"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>
        <!--//item-->

        <div class="item">
          <h3 class="level-title">HTML5 &amp; CSS</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 95%"
              aria-valuenow="95"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

        <div class="item">
          <h3 class="level-title">JAVA</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 60%"
              aria-valuenow="60"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>


        <div class="item">
          <h3 class="level-title">PHP</h3>
          <div class="progress level-bar">
            <div
              class="progress-bar theme-progress-bar"
              role="progressbar"
              style="width: 80%"
              aria-valuenow="80"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </div>

      </div>
    </section>

  </div>
  <br>
  <span> entre otro lenguaje de programacion </span>
</div>
