.moverinpur{
  margin: 15px 10px 20px 10px !important;
}
.contenedor {
  display: flex;
  flex-direction: column;
  margin:1rem auto;
}


.center-card {
  justify-content: center;

}
.sepra{
  margin: 0.5em;
}
.mt-50 {
  margin-top: 80px !important;
}

.enlinea{
  margin-top: 1em;
  display: inline-flex;
  justify-content: center;
}
