



.login-box {
  width: 400px;
  margin: 0 auto;
}


.login-box .social {
  display: block;
  margin-bottom: 20px;
}



.login-sidebar {
  padding: 0px;
  margin-top: 0px;
}

.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%;
}
.login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 10px 20px 20px;
    width: 80%;
    max-width: 30px;

    position: relative;
    padding-bottom: 80px;

}
.contenedor {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    left: 0px;
    top: 2em;
    right:100px;

}
@media screen and (max-width: 500px) and (min-width: 300px) {
    .login {
    border-radius: 2px 2px 5px 5px;
    padding: 10px 20px 20px 20px;
    width: 90%;
    max-width: 320px;
    background: #ffffff;
    position: relative;
    padding-bottom: 80px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    }
}

@media screen and (max-width: 300px) and (min-width: 100px) {
    .login {
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 0%;
    max-width: 0px;
    background: #ffffff;
    position: relative;
    padding-bottom: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
    }
}
